<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import { Head } from "@inertiajs/inertia-vue3";
import { useForm } from "@inertiajs/inertia-vue3";
import { reactive } from "@vue/reactivity";

const props = defineProps({
  errors: reactive
});

const form= useForm({
    name:'',
    email:'',
    password:'',
});

const Add = () => form.post(route('add-post'));
</script>
    
    <template>
  <Head title="Dashboard" />

  <AuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Dashboard
      </h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="p-6 bg-white border-b border-gray-200">
            <form method="POST" @submit.prevent="Add">
               <div class="px-3">
                <labe class="mt-2">Ad soyad</labe>
                <input
                  type="text"
                  v-model="form.name"
                  class="form-control"
                  :class="{'error':props.errors.name}"
                  required
                />
                <p v-if="props.errors.name" class="text-danger py-2">{{props.errors.name}}</p>
                <label class="mt-2">E-posta adresi</label>
                <input
                  type="email"
                  v-model="form.email"
                  class="form-control"
                  :class="{'error':props.errors.email}"
                  required
                />
                <p v-if="props.errors.email" class="text-danger py-2">{{props.errors.email}}</p>
                <label class="mt-2">Şifre</label>
                <input
                  type="password"
                  v-model="form.password"
                  class="form-control"
                  :class="{'error':props.errors.password}"
                  required
                />
              <p v-if="props.errors.password" class="text-danger py-2">{{props.errors.password}}</p>
              <button type="submit" class="btn btn-primary mt-2" style="background:blue">Ekle</button>
               </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>
    