<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import { Head } from "@inertiajs/inertia-vue3";
import { useForm } from "@inertiajs/inertia-vue3";
import { reactive, ref } from "vue";

const props = defineProps({
  user: reactive,
  errors: reactive,
});

const form = useForm({
  name: props.user.name,
  email: props.user.email,
});

const update = () => {
  form.put(route("update", props.user.id));
};
</script>


<template>
  <Head title="Dashboard" />

  <AuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Dashboard
      </h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="p-6 bg-white border-b border-gray-200">
            <form @submit.prevent="update">
              <label class="mt-2">Name</label>
              <input
                type="text"
                class="form-control"
                :class="{ error: props.errors.name }"
                v-model="form.name"
                required
              />
              <p v-if="props.errors.name" class="text-danger py-2">
                {{ props.errors.name }}
              </p>
              <label class="mt-2">Email address</label>
              <input
                type="email"
                class="form-control"
                :class="{ error: props.errors.email }"
                v-model="form.email"
                required
              />
              <p v-if="props.errors.email" class="text-danger py-2">
                {{ props.errors.email }}
              </p>
              <button
                type="submit"
                class="btn btn-primary mt-2"
                style="background: blue"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>
        