<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import { Head } from "@inertiajs/inertia-vue3";
import { reactive, ref } from "@vue/reactivity";
import { Link } from "@inertiajs/inertia-vue3";
import { defineComponent, watch } from "@vue/runtime-core";
import { Inertia } from "@inertiajs/inertia";

defineComponent({ Link });
const props = defineProps({
  users: reactive,
  target: null,
});

const remove = (id) => Inertia.delete("users/" + id);
const search = ref(props.target);

watch(search, (newVal, oldVal) => {
  Inertia.get(
    route("Users"),
    { search: newVal },
    {
      preserveState: true,
    }
  );
});
</script>
    
    <template>
  <Head title="Users" />

  <AuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Dashboard
      </h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
           <div class="d-flex align-items-center justify-content-around px-4">
           <div class="input-group">
            <Link class="btn btn-primary mt-2 ml-2" :href="route('add')">kullanıcı ekle</Link>
           </div>
            <div class="input-group ">
              <input type="text" class="form-controls bg-light ml-auto my-2" v-model="search" placeholder="Ara..">
            </div>
           </div>
          <div class="p-6 bg-white border-b border-gray-200">
           <div v-if="props.users.data.length>0">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Ad</th>
                  <th scope="col">E-posta adresi</th>
                  <th scope="col">Ayarlar</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="user in props.users.data" :key="user">
                  <td>{{ user.id }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                    <Link :href='route("edit",user.id)' class="btn btn-sm btn-warning me-1">Düzenle</Link>
                    <button @click="remove(user.id)" class="btn btn-sm btn-danger">Sil</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item" v-for="link in users.links" :key="link">
              <Link class="page-link" :class="{'active': link.active}" :href="link.url" v-text="link.label" />
            </li>  
          </ul>
           </div>
           <div v-else>
            <h2 class="text-muted">Üye bulunamadı</h2>
           </div>
          </div>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>
    